<!DOCTYPE html>
<html lang="en">
<head>
  <title>버스킹</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<center>
  <br><br><br>
  <div class="container">
    <% bus.forEach(function(item, index){ %>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td rowspan="2">노선라인</td>
        <td>버스이미지</td>
        <td rowspan="2">정류장 이름</td>
      </tr>
      <tr>
      <td>버스정보</td>
      </tr>
    </tbody>
  </table>
});%>
</div>
</center>
</body>
</html>
